* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #27baba;
  background-image: url('./img/weath.jpg');
  background-position: center;
  background-size: cover;
}

.app {
  background-color: #e2d9d57d;
  max-width: 700px;
  height: 550px;
  margin: 10px auto;
  border-radius: 3px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.menu > a,
.menu > div > a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-family: sans-serif;
}

.menu > .cond-render {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.top-container {
  padding: 20px;
}

.search-wrap {
  border-radius: 10px;
  background-color: black;
  padding: 10px;
}

.search-wrap > input,
.search-wrap > button {
  font-size: 2em;
  outline: 0;
  border: 0;
  background: transparent;
  color: orange;
}

.searchbar {
  width: 80%;
}

.info-wrap {
  display: flex;
  justify-content: space-evenly;
}

.location-container,
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.temperature > h3,
.weather > h3 {
  color: orange;
  text-shadow: 2px 2px 2px black;
}

span {
  color: black
}